
= link_to_next_page @matches, 'Next Page'
= paginate @matches.page(params[:page])

%ul.matches{"ng-controller" => "matchCtrl"}
  - @matches.each do |match|
    %li{"ng-model" => ""}= link_to match.match_id, match_path(match.match_id)

/ %ul.matches{"ng-controller" => "matchCtrl"}
/   %li{"ng-repeat" => "match in matches"}
/     %a{"ng-href" => "/matches/{{ match.match_id}}"}
/       {{ match.match_id }}
