.hero-listing.page{"ng-controller" => "heroCtrl"}
  .content
    .content-inner-border
      .row.hero-header
        .row
          %h1
            {{characterName}}
        .row
          Attack types, roles
      .row.hero-filter
        filter by role, Attack Type, By Name
      .heroes
        // RADIANT
        .row
          .large-4.columns
            %b
              %h1
                Strength
            %div{"ng-repeat" => "subArray in radiantStr"}
              .row
                .custom-column-4{"ng-repeat" => "hero in subArray"}
                  .hero-icons
                    %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
          .large-4.columns
            %b
              %h1
                Agility
            %div{"ng-repeat" => "subArray in radiantAgi"}
              .row
                .custom-column-4{"ng-repeat" => "hero in subArray"}
                  .hero-icons
                    %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
          .large-4.columns
            %b
              %h1
                Intelligence
            %div{"ng-repeat" => "subArray in radiantInt"}
              .row
                .custom-column-4{"ng-repeat" => "hero in subArray"}
                  .hero-icons
                    %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
        // DIRE
        .row
          .large-4.columns
            %b
            %div{"ng-repeat" => "subArray in direStr"}
              .row
                .custom-column-4{"ng-repeat" => "hero in subArray"}
                  .hero-icons
                    %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
          .large-4.columns
            %b
            %div{"ng-repeat" => "subArray in direAgi"}
              .row
                .custom-column-4{"ng-repeat" => "hero in subArray"}
                  .hero-icons
                    %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
          .large-4.columns
            %b
            %div{"ng-repeat" => "subArray in direInt"}
              .row
                .custom-column-4{"ng-repeat" => "hero in subArray"}
                  .hero-icons
                    %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)",  "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}