%ul.heroes{"ng-controller" => "heroCtrl"}
  %li{"ng-repeat" => "hero in heroes"}
    // FIXME: using URL is hacky, should fix jbuilder to return ID and trust routes
    %a{"ng-href" => "{{ hero.url }}"}
      {{ hero.name }}
