

/%div{"ng-include", :src => "'_hero_partial.html.haml'"}
/ <div ng-include src="_hero_partial.html.haml"></div>

%hr

.hero-listing.page{"ng-controller" => "heroCtrl"}
  .content
    .content-inner-border
      .row.hero-header
        .row
          %h1
            {{characterName}}
        .row
          Attack types, roles
      .row.hero-filter
        filter by role, Attack Type, By Name
      .heroes
        .row
          .large-4.columns
            .row
              %b
                %h1
                  Strength
              %h2
                Radiant
              %div{"ng-repeat" => "hero in radiantStr"}
                .hero-icons
                  %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
          .large-4.columns
            .row
              %b
                %h1
                  Agility
              %h2
                Radiant
              %div{"ng-repeat" => "hero in radiantAgi"}
                .hero-icons
                  %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
          .large-4.columns
            .row
              %b
                %h1
                  Intelligence
              %h2
                Radiant
              %div{"ng-repeat" => "hero in radiantInt"}
                .hero-icons
                  %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
        .row
          .large-4.columns
            .row
              %b
                %h1
                  Strength
              %h2
                Dire
              %div{"ng-repeat" => "hero in direStr"}
                .hero-icons
                  %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
          .large-4.columns
            %b
              %h1
                Agility
            %h2
              Dire
            %div{"ng-repeat" => "hero in direAgi"}
              .hero-icons
                %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)", "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}
          .large-4.columns
            %b
              %h1
                Intelligence
            %h2
              Dire
            %div{"ng-repeat" => "hero in direInt"}
              .hero-icons
                %img{:alt => "{{hero.name}}", :src => "{{hero.icon}}", "ng-mouseover" => "toggleCharDetails($event)",  "ng-mouseout" => "toggleCharDetails($event)", "data-heroName" => "{{hero.name}}", "data-heroUrl" => "{{hero.url}}", "ng-click" => "showHero($event)"}

