.hero-listing.page{"ng-controller" => "heroCtrl"}
  .content
    .content-inner-border
      .row.hero-header
        .row
          Character Name
        .row
          Attack types, roles
      .row.hero-filter
        filter
      .hero-icons
        .row
          .small-4.columns
            %b
              %h1
                Strength
          .small-4.columns
            %b
              %h1
                Agility
          .small-4.columns
            %b
              %h1
                Intelligence
        .row
          .small-4.columns
            .row
              %h2
                Radiant
              %ul{"ng-repeat" => "hero in radiantStr"}
                %li
                  %a{"ng-href" => "{{hero.url}}"}{{hero.name}}
            .row
              %h2
                Dire
              %ul{"ng-repeat" => "hero in direStr"}
                %li
                  %a{"ng-href" => "{{hero.url}}"}{{hero.name}}
          .small-4.columns
            .row
              %h2
                Radiant
              %ul{"ng-repeat" => "hero in radiantAgi"}
                %li
                  %a{"ng-href" => "{{hero.url}}"}{{hero.name}}
            .row
              %h2
                Dire
              %ul{"ng-repeat" => "hero in direAgi"}
                %li
                  %a{"ng-href" => "{{hero.url}}"}{{hero.name}}
          .small-4.columns
            .row
              %h2
                Radiant
              %ul{"ng-repeat" => "hero in radiantInt"}
                %li
                  %a{"ng-href" => "{{hero.url}}"}{{hero.name}}
            .row
              %h2
                Dire
              %ul{"ng-repeat" => "hero in direInt"}
                %li
                  %a{"ng-href" => "{{hero.url}}"}{{hero.name}}