.hero-listing {
  .content {
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;

    .content-inner-border {
      border: 1px solid black;
      -moz-box-shadow: 3px 3px 4px #000;
      -webkit-box-shadow: 3px 3px 4px #000;
      box-shadow: 3px 3px 4px #000;
      background-color: #424242;
      font-family: 'Port Lligat Slab', serif;

      .hero-header {
        margin-top: 1%;
        border: 1px solid black;
        background-color: #2E2E2E;
        color: #00B800;
      }

      .hero-filter {
        margin-top: 2%;
        margin-bottom: 2%;
        border: 1px solid black;
        background-color: #2E2E2E;
        color: red;
      }

      .heroes {

        .row {
          color: #D8D8D8;
        }

        .custom-column-4 {
            display: block;
            float: left;
            width: 24%;
            margin-left: 0.5%;
            margin-right: 0.5%;

          .hero-icons {
            width: 100%;
            margin-top: 2%;
            -webkit-transition: width 1s;

            img {
              width: 100%;
              border: 2px solid black;
              border-radius: 3px;
            }

            &:hover {
              width: 300%;
              position: relative;
              z-index: 100;
              -webkit-transition: width 1s;
            }
          }
        }
      }
    }
  }
}