.hero-listing {
  .content {
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid #35eeff;
    text-align: center;

    .content-inner-border {
      border: 5px solid black;

      .hero-header {
        border: 1px solid lime;
      }

      .hero-filter {
        border: 1px solid black;
      }

      .heroes {

        .custom-column-4 {
            display: block;
            float: left;
            width: 24%;
            margin-left: 0.5%;
            margin-right: 0.5%;

          .hero-icons {
            width: 100%;
            margin-top: 2%;
            -webkit-transition: width 1s;

            img {
              width: 100%;
              border: 2px solid black;
              border-radius: 3px;
            }

            &:hover {
              width: 300%;
              position: relative;
              z-index: 100;
              -webkit-transition: width 1s;
            }
          }
        }
      }
    }
  }
}