body {
  width: 100%;

  .site-header {
    background-color: #ff1f39;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border: 1px solid lime;
  }
}