!!!
%html{"ng-app" => "Dotameter"}
  %head
    %title Dotameter
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Port+Lligat+Slab", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}
    :javascript
      http://code.angularjs.org/1.0.7/angular.min.js

  %body
    %nav.top-bar
      %ul
        %li.name
          %h1
            %a{:href => root_path} Dotameter
        %li
          %a{:href => heroes_path} Heroes
        %li
          %a{:href => matches_path} Matches
        %li
          %a{:href => root_path} About

    = yield