!!!
%html{"ng-app" => "Dotameter"}
  %head
    %title Dotameter
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}
    :javascript
      http://code.angularjs.org/1.0.7/angular.min.js

  %body
    .site-header.row
      THIS IS DOTAMETER!!!!!!!!...This is also the header
    = yield